# flask==1.0.2
gunicorn==21.2.0
mne==0.20.7
PyYAML==5.3.1
numpy>1.11.3
pandas==1.5.3
scipy>=1.2.1
matplotlib>=3.0.2
torch
#tensorboard==2.5.0
#tensorboardX==2.2
scikit-learn
# jinja2==2.10.1
# markupsafe==1.1.0
# itsdangerous==2.1.2

click==8.1.1
Flask==2.0.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
Werkzeug==2.1.0
protobuf==3.20.*
